:root{
  --brave-color-interactive01: #EA3A0D;
  --brave-color-interactive02: #FB542B;
  --brave-color-interactive03: #ff7654;
  --brave-color-interactive04: #353dab;
  --brave-color-interactive05: #4C54D2;
  --brave-color-interactive06: #737ade;
  --brave-color-interactive07: #212529;
  --brave-color-interactive08: #AEB1C2;
  --brave-color-focusBorder: #a0a5eb;
  --brave-color-brandBrave: #FB542B;
  --brave-color-brandBat: #4C54D2;
  --brave-color-brandBraveInteracting: #FB542B;
  --brave-color-brandBraveActive: #ffb8a6;
  --brave-color-brandBraveLight: #fff3f0;
  --brave-color-brandBatInteracting: #4C54D2;
  --brave-color-brandBatActive: #d0d2f7;
  --brave-color-defaultControl: #3b3e4f;
  --brave-color-defaultControlInteracting: #1E2029;
  --brave-color-defaultControlActive: #5e6175;
  --brave-color-warn: #E32444;
  --brave-color-warnInteracting: #bd1531;
  --brave-color-warnActive: #960921;
  --brave-color-subtle: #c2c4cf;
  --brave-color-subtleBackground: #e6e8f5;
  --brave-color-subtleExclude: #ced0db;
  --brave-color-subtleInteracting: #AEB1C2;
  --brave-color-subtleActive: #84889c;
  --brave-color-disabled: #ced0db;
  --brave-color-disabledResourceBlocked: #868e96;
  --brave-color-panelBackground: #FFFFFF;
  --brave-color-panelBackgroundSecondary: #f8f9fa;
  --brave-color-primaryBackground: #FFFFFF;
  --brave-color-contextMenuBackground: #FFFFFF;
  --brave-color-contextMenuHoverBackground: #d0d2f7;
  --brave-color-secondaryBackground: #c2c4cf;
  --brave-color-modalOverlayBackground: rgba(36,37,54,0.85);
  --brave-color-background01: #f8f9fa;
  --brave-color-background02: #FFFFFF;
  --brave-color-background03: #3b3e4f;
  --brave-color-contextMenuForeground: #3b3e4f;
  --brave-color-contextMenuHoverForeground: #343a40;
  --brave-color-detailDescription: #AEB1C2;
  --brave-color-text: #5e6175;
  --brave-color-text01: #212529;
  --brave-color-text02: #495057;
  --brave-color-text03: #868e96;
  --brave-color-inputBorder: #AEB1C2;
  --brave-color-separatorLine: #e6e8f5;
  --brave-color-lionLogo: #AEB1C2;
  --brave-color-divider01: #E9E9F4;
  --brave-color-errorText: #bd1531;
  --brave-color-errorIcon: #bd1531;
  --brave-color-errorBorder: #E32444;
  --brave-color-errorBackground: #fff0f2;
  --brave-color-warningIcon: #FFD43B;
  --brave-color-warningBorder: #ffdd63;
  --brave-color-warningBackground: #fffcf0;
  --brave-color-infoIcon: #339af0;
  --brave-color-infoBorder: #5db5fc;
  --brave-color-infoBackground: rgba(93,181,252,0.2);
  --brave-color-successIcon: #12a378;
  --brave-color-successBorder: #51cf66;
  --brave-color-successBackground: #d5f5da;
  --brave-palette-blue000: #f0f8ff;
  --brave-palette-blue100: #d9eeff;
  --brave-palette-blue200: #b0dbff;
  --brave-palette-blue300: #87c9ff;
  --brave-palette-blue400: #5db5fc;
  --brave-palette-blue500: #339af0;
  --brave-palette-blue600: #207dc9;
  --brave-palette-blue700: #1262a3;
  --brave-palette-blue800: #07487d;
  --brave-palette-blue900: #043257;
  --brave-palette-blurple000: #f0f1ff;
  --brave-palette-blurple100: #f0f1ff;
  --brave-palette-blurple200: #d0d2f7;
  --brave-palette-blurple300: #a0a5eb;
  --brave-palette-blurple400: #737ade;
  --brave-palette-blurple500: #4C54D2;
  --brave-palette-blurple600: #353dab;
  --brave-palette-blurple700: #222985;
  --brave-palette-blurple800: #14195e;
  --brave-palette-blurple900: #0b0e38;
  --brave-palette-cyan000: #f0fdff;
  --brave-palette-cyan100: #ccf8ff;
  --brave-palette-cyan200: #9de9f5;
  --brave-palette-cyan300: #6fd8e8;
  --brave-palette-cyan400: #46c7db;
  --brave-palette-cyan500: #22B8CF;
  --brave-palette-cyan600: #1394a8;
  --brave-palette-cyan700: #087282;
  --brave-palette-cyan800: #01505c;
  --brave-palette-cyan900: #002e36;
  --brave-palette-green000: #f0fff2;
  --brave-palette-green100: #f0fff2;
  --brave-palette-green200: #d5f5da;
  --brave-palette-green300: #a5e8b0;
  --brave-palette-green400: #79db89;
  --brave-palette-green500: #51cf66;
  --brave-palette-green600: #39a84c;
  --brave-palette-green700: #268235;
  --brave-palette-green800: #165c22;
  --brave-palette-green900: #0c3613;
  --brave-palette-grey000: #f0f2ff;
  --brave-palette-grey100: #e6e8f5;
  --brave-palette-grey200: #dadce8;
  --brave-palette-grey300: #ced0db;
  --brave-palette-grey400: #c2c4cf;
  --brave-palette-grey500: #AEB1C2;
  --brave-palette-grey600: #84889c;
  --brave-palette-grey700: #5e6175;
  --brave-palette-grey800: #3b3e4f;
  --brave-palette-grey900: #1e2029;
  --brave-palette-magenta000: #fff0fc;
  --brave-palette-magenta100: #fcebfa;
  --brave-palette-magenta200: #f0b9e7;
  --brave-palette-magenta300: #e38ad4;
  --brave-palette-magenta400: #d660c3;
  --brave-palette-magenta500: #CA3BB2;
  --brave-palette-magenta600: #a3278f;
  --brave-palette-magenta700: #7d186c;
  --brave-palette-magenta800: #570c4a;
  --brave-palette-magenta900: #300629;
  --brave-palette-neutral000: #f8f9fa;
  --brave-palette-neutral100: #f1f3f5;
  --brave-palette-neutral200: #e9ecef;
  --brave-palette-neutral300: #dee2e6;
  --brave-palette-neutral400: #ced4da;
  --brave-palette-neutral500: #adb5bd;
  --brave-palette-neutral600: #868e96;
  --brave-palette-neutral700: #495057;
  --brave-palette-neutral800: #343a40;
  --brave-palette-neutral900: #212529;
  --brave-palette-orange000: #fff3f0;
  --brave-palette-orange100: #ffd8cf;
  --brave-palette-orange200: #ffb8a6;
  --brave-palette-orange300: #ff977d;
  --brave-palette-orange400: #ff7654;
  --brave-palette-orange500: #FB542B;
  --brave-palette-orange600: #d43f19;
  --brave-palette-orange700: #ad2c0c;
  --brave-palette-orange800: #871d03;
  --brave-palette-orange900: #611401;
  --brave-palette-purple000: #f4f0ff;
  --brave-palette-purple100: #f4f0ff;
  --brave-palette-purple200: #e4dbff;
  --brave-palette-purple300: #c6b3ff;
  --brave-palette-purple400: #a78aff;
  --brave-palette-purple500: #845ef7;
  --brave-palette-purple600: #6845d1;
  --brave-palette-purple700: #4f30ab;
  --brave-palette-purple800: #381e85;
  --brave-palette-purple900: #27155e;
  --brave-palette-red000: #fff0f2;
  --brave-palette-red100: #ffccd5;
  --brave-palette-red200: #ffa3b3;
  --brave-palette-red300: #fc798f;
  --brave-palette-red400: #f04d68;
  --brave-palette-red500: #E32444;
  --brave-palette-red600: #bd1531;
  --brave-palette-red700: #960921;
  --brave-palette-red800: #700114;
  --brave-palette-red900: #4a000c;
  --brave-palette-teal000: #f0fffa;
  --brave-palette-teal100: #cafced;
  --brave-palette-teal200: #99f0d6;
  --brave-palette-teal300: #6de3c0;
  --brave-palette-teal400: #45d6ab;
  --brave-palette-teal500: #20c997;
  --brave-palette-teal600: #12a378;
  --brave-palette-teal700: #077d5a;
  --brave-palette-teal800: #01573d;
  --brave-palette-teal900: #003022;
  --brave-palette-yellow000: #fffcf0;
  --brave-palette-yellow100: #fff8de;
  --brave-palette-yellow200: #ffefb5;
  --brave-palette-yellow300: #ffe68c;
  --brave-palette-yellow400: #ffdd63;
  --brave-palette-yellow500: #FFD43B;
  --brave-palette-yellow600: #d9b227;
  --brave-palette-yellow700: #b39117;
  --brave-palette-yellow800: #8c700b;
  --brave-palette-yellow900: #665107;
  --brave-palette-blackFade15: hsla(229,15%,14%,0.85);
  --brave-palette-blackFade30: hsla(229,15%,14%,0.7);
  --brave-palette-blackFade50: hsla(229,15%,14%,0.5);
  --brave-palette-blackFade70: hsla(229,15%,14%,0.3);
  --brave-palette-blackFade85: hsla(229,15%,14%,0.15);
  --brave-palette-whiteFade85: hsla(0,0%,100%,0.15);
  --brave-palette-whiteFade70: hsla(0,0%,100%,0.3);
  --brave-palette-whiteFade50: hsla(0,0%,100%,0.5);
  --brave-palette-whiteFade30: hsla(0,0%,100%,0.7);
  --brave-palette-whiteFade15: hsla(0,0%,100%,0.85);
  --brave-palette-white: #FFFFFF;
  --brave-palette-black: #1E2029;
  --brave-font-heading: Poppins, sans-serif;
  --brave-font-body: Poppins, sans-serif;
  --brave-font-system: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  font-family: var(--brave-font-body)
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--brave-color-background02);
  overflow-x: hidden;
}


.title {
  font-size: 17px;
}

.container {
  width: 100%;
  height: 100%;
}

nav{
  margin-left: auto;
  margin-right: auto;
}


ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin-top: 3rem;
}


nav ul .nav-projects::after{
    content: "🔽";
    margin-left: 0.5rem;
}

nav ul button{
  border: none;
  border-radius: 0.3rem;
  background-color: cyan;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-wrap: nowrap;
}

ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 547;
}

a:hover{
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}



section .left .top {
  margin-bottom: 1.8rem;
}


section .left .top h1 {
  line-height: 3ch;
  color: var(--brave-color-defaultControl);
}

section .left .top .greet{
  font-size: 1.5rem;
  color: var(--brave-color-defaultControlActive);
}

section .left .top .name{
  font-size: 2.4rem;
}


/* Mid start */

section .left .mid {
  margin-bottom: 2rem;
  width: 50%;
}

section .left .mid p {
  line-height: 2.7ch;
}

/*  Bottom start */

section .left .bottom {
  display: flex;
  gap: 4rem;
}

section .left .bottom button {
  border: none;
  border-radius: 0.3rem;
  background-color: cyan;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-wrap: nowrap;
}

section .left .bottom button:hover {
  cursor: pointer;
}

section .left .bottom .reach {
  background: none;
  border: 1px solid cyan;
}

/* Left section End */

/*  Right section start*/

section .right {
  background-image: url(https://img.freepik.com/free-vector/developer-activity-concept-illustration_114360-1643.jpg?w=740&t=st=1717442210~exp=1717442810~hmac=cbbb8f9ea2c22677a685146f027bd82320f0d98275164c105e1a08ebf8b5769c);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/* @media print{
  nav{
    display: none;
  }
} */